<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input id="delete_<%= bookmark.id %>" type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>
<form action="/" method="get">
  <input type="submit" value="Return Home">
</form>