<h1>Hello World!</h1>

<form action="/bookmarks" method="get">
  <input type="submit" value="List Bookmarks">
</form>
<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add Bookmark">
</form>