<form action='/bookmarks' method='post'>
  <div>
    <label for='title_entry'>Title:</label>
    <input type='text' id='title_entry' name='title'>
  </div>
  <div>
    <label for='url_entry'>URL:</label>
    <input type='text' id='url_entry' name='url'>
  </div>
  <div>
    <input type='submit' value='Submit'>
  </div>
</form>
